<!DOCTYPE html>
<html class="dark">
  <head>
    <title><%= content_for(:title) || "Url Shortener" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Url Shortener">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app %>
    <%= javascript_pack_tag "application" %>
    <%= stylesheet_pack_tag "application", media: "all" %>
  </head>

  <body class="min-h-screen bg-gray-950 text-white">
    <div class="fixed inset-0 -z-10 pointer-events-none">
      <div class="absolute left-1/2 top-20 -translate-x-1/2 w-245 h-115 bg-linear-to-tr from-indigo-800/35 to-transparent rounded-full blur-3xl"></div>
      <div class="absolute right-12 bottom-10 w-105 h-55 bg-linear-to-bl from-indigo-700/35 to-transparent rounded-full blur-2xl"></div>
    </div>

    <%= yield %>
  </body>
</html>
